<!-- FILL ME IN WITH CODE FOR YOUR PAGE LAYOUT -->
<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="A page on Killian's website">
        <meta name="keywords" content="project, event planning">
        <meta name="author" content="Killian Civiero">
        <title>Killian's Website</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='main/images/k_favicon.ico') }}">
        <!-- Link all stylesheets to this document-->
        <link rel="stylesheet" href="{{ url_for('static', filename='main/css/main.css') }}">
        {% block extracss %}{% endblock %}  {# Pages can inject <link>s here. Underneath so conflicts override #}
        <script src="{{ url_for('static', filename='main/js/main.js') }}" defer></script>
        {% block extrajs %}{% endblock %}  {# Pages can inject <script>s here. Underneath so conflicts override #}
    </head>

    <body>
        <article>
        <!-- Nav bar -->
        <div id="navbar">
            <div id="links">
                <p> {% if user == 'Unknown' %} Not signed in
                    {% else %} Signed in as <span class="username">{{user}}</span> {% endif %}
                </p>
                <a href="/home">Homepage</a>
                {% if user == 'Unknown' %}
                <a href="/login"> Login </a>
                {% else %}
                <a href="/logout"> Logout </a>
                {% endif %}
            </div>
        </div>

        <main>
            {% block maincontent %} {% endblock %}
        </main>

        <!-- The footer of the file -->
        <div id="footer">
            <p class="copy">&copy; Killian Civiero</p>
        </div>

        </article>

    </body>
</html>









