/** {*/
/*   outline: 1px solid red; !* Debugging: See if anything extends past the viewport *!*/
/*}*/
:root {
    --primary-color: #4747d8;  /* RGB is 71,71,216 */
    --orange: #f87c14;  /* RGB is 248,124,20 */
    --navbar-color: #222222;
    --footer-font-color: #CCCCCC;
}
html, body {
    background : white;
    color: black;
    /*overflow-x: hidden; !* Prevents horizontal scrolling, but makes the navbar "sticky" not work *!*/
    width: 100%; /* Ensures full width, cannot scroll sideways */
    margin: 0; /* No whitespace around the edges of everything */
}
#navbar {
    width: 100%;
    height: fit-content;
    background-color: var(--navbar-color);
}
#links {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: fit-content;
    align-items: center;
    padding: 15px;
    background-color: var(--navbar-color);
}
#links p, #links a {
    margin: 5px 0;
    font-size: 16px;
    font-weight: normal;
    color: #ffffff;
}
.username {
    font-weight: bold;
}


/* Entire edge-to-edge main section */
#whole_main {
    background-color: #CCCCCC;
    width: 100vw;  /* 100% of the viewport width */
    min-height: fit-content;  /* Ensures it extends as content grows */
    display: flex;
    flex-direction: column;  /* Stacks divs vertically */
    align-items: center;  /* Centers all children horizontally */
    padding: 0;
}
/* Outside of #whole_main */
.spacer {
    width: 100%;
    height: 70vh;
    background-color: inherit;
}




/*
//
// Login form
//
*/
.login {
    display: flex;
    flex-direction: column;
    background-color: inherit;
    width: 60vw;
    height: 30vh;
    padding: 5px;
    align-items: center;  /* Horizontally */
    box-sizing: border-box;
}
#login_form {
    display: flex;
    flex-direction: column;
    background-color: #888888;
    height: 100%;
    width: 100%;
    align-items: center;  /* Horizontally */
    justify-content: space-evenly;  /* Vertically */
}
#login_success, #register_success {
    display: none;  /* Hide initially */
    color: #158215;
    font-weight: bold;
    text-align: center;
}
.attempts  {
    width: fit-content;
    margin: 10px 0;
}
.attempts h3 {
    display: inline;
    margin: 2px 0;  /* TB LR */
    color: #ff0000;
}













/*
//
// Footer
//
*/
/* Styles for the entire footer section */
#footer {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-content: center; /* horizontally b/c column */
    justify-content: center; /* vertically b/c column*/
    width: 100vw;
    padding: 20px;
    box-sizing: border-box;
    height: fit-content;
    text-align: center;
}
#footer .copy {  /* Must be this specific because the basic footer p styling is */
    align-content: center;  /* Vertically */
    justify-content: center;
    height: 60px;
    color: #ffffff;
    background-color: #4747d8;
    margin: 0;
}









